{# templates/email_outbound/email_campaign_edit.html #}
{% extends "template_base.html" %}

{% block title %}Email Campaigns > New Email Campaign{% endblock %}

{%  block content %}
{% load template_filters %}
{% load humanize %}
{% include "admin_tools/loading_banner.html" %}
    
    <a href="{% url 'email_outbound:email_campaign_list' %}?google_civic_election_id={{ google_civic_election_id }}&state_code={{ state_code }}">
        < Back to Email Campaigns</a>

<h1>Email Campaigns > New Email Campaign</h1>

{% endblock %}